body {
  margin: 0;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  padding-bottom: 4px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #0066c0;
}

.input-image {
  margin-bottom: 14px;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-padding-medium {
  margin-bottom: 22px;
  padding: 14px 18px;
}

.h1-spacing-small {
  margin-bottom: 10px;
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  letter-spacing: 2px;
}

.logo-img {
  width: 103px;
  height: auto;
  margin-bottom: 12px;
  /* background-color: #141920; */
}

.main-content {
  width: 700px;
  margin: 10px auto 0;
}

.input-box {
  margin: 0 auto 40px;
  width: 350px;
}

.input-contents {
  margin-bottom: 22px;
  padding: 20px;
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.input-contents-inner {
  border-radius: 4px;
  position: relative;
}

.input-title {
  font-weight: 700;
}

.input-text {
  margin-bottom: 14px;
}

.input-title,
.input-text {
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 290px;
  height: 21px;
  padding: 3px 7px;
}

.button-style {
  width: 100% !important;
  border-radius: 3px;
  border-width: 1px;
}

.submit-btn {
  width: 100% !important;
  border-radius: 3px;
  border-width: 1px;
  /* width: 282px; */
  height: 29px;
  background: -moz-linear-gradient(top, #f7dfa5, #f0c14b);
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  padding: 1px 6px;
}

.divider-inner {
  height: 44px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  z-index: 0;
  zoom: 1;
}

.divider-inner:after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: -webkit-linear-gradient(
    to right,
    #fff,
    rgba(255, 255, 255, 0),
    #fff
  );
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  z-index: 1;
  content: "";
}

.footer {
  margin-top: 26px;
}

.site-map {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}

.copyright {
  text-align: center;
  font-size: 12px;
}
