.body_container{
    margin: 0 auto;
    width: 1500px;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:0 auto;
    // overflow: hidden;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
    // overflow: hidden;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    z-index: 1;
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}
/*==================================================
スライダーのためのcss
===================================*/
// .slider {
//     z-index: -1;
//     /*横幅94%で左右に余白を持たせて中央寄せ*/
//     width: 94%;
//     margin: 0 auto;
//     height: 300px;
// }
// .slider img {
//     z-index: -100;
//     // width: 60vw;
//     // position: relative;
//     width:100%;
//     // height: 300px;
//     /*スライダー内の画像を60vwにしてレスポンシブ化*/
// }
// .slider .slick-slide {
//     transform: scale(0.8);
//     /*左右の画像のサイズを80%に*/
//     /* transition: all .5s; */
//     /*拡大や透過のアニメーションを0.5秒で行う*/
//     /* opacity: 0.5; */
//     /*透過50%*/
// }

// .slider .slick-slide.slick-center {
//     transform: scale(1);
//     /*中央の画像のサイズだけ等倍に*/
//     opacity: 1;
//     /*透過なし*/
// }

// /*矢印の設定*/

// /*戻る、次へ矢印の位置*/
// .slick-prev,
// .slick-next {
//     position: absolute;
//     /*絶対配置にする*/
//     top: 50%;
//     cursor: pointer;
//     /*マウスカーソルを指マークに*/
//     outline: none;
//     /*クリックをしたら出てくる枠線を消す*/
//     border-top: 2px solid #666;
//     /*矢印の色*/
//     border-right: 2px solid #666;
//     /*矢印の色*/
//     height: 15px;
//     width: 15px;
// }

// .slick-prev {
//     /*戻る矢印の位置と形状*/
//     left: -1.5%;
//     transform: rotate(-135deg);
// }

// .slick-next {
//     /*次へ矢印の位置と形状*/
//     right: -1.5%;
//     transform: rotate(45deg);
// }



/* BOXデザイン */
.div_design00 {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.div_design00 .div_design00_contents {
    background: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.div_design00 .div_design00_contents img {
    width: 100%;
    height: auto;
}

.div_design00 .div_design00_contents p {
    font-size: 1rem;
    width: auto;
    margin: 0;
    padding: 1rem;
    display: block;
    text-align: center;
}
