* {
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    margin: 0;
    padding: 0 0 0 2%;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    /* appearance: none; */
}

/* ヘッダー */

.header_nav {
    /* display: flex;
    position: absolute; */
    margin: 0px;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;

    background: #252f3d;
    a {
        display: block;
        width: 120px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            border: solid 1px #fff;
            border-radius: 2px;
            // width: 100%;
            // height: 100%;
        }
    }

    .header_container1 {
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 0px;

        background: #141920;
        color: #fff;
    }

    .header_logo {
        position: static;
        width: 100px;
        height: 30px;
        left: 0px;
        top: 5px;
    }

    .nav_container {
        display: flex;
    }

    .selecter {
        cursor: pointer;
        /* position: absolute; */
        width: 52px;
        height: 40px;
        left: 0px;
        top: 0px;
        background: #f3f3f3;
        border-radius: 4px 0px 0px 4px;
    }

    .header_search {
        cursor: pointer;
        width: 667px;
        // height: 40px;
        left: 279px;
        top: 0px;
        margin: 0;
        /* Primary - White */
        background: #ffffff;
    }

    .nav_right {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        width: 45px;
        height: 40px;
        left: 719px;
        top: 0px;

        background: #f4bf76;
        border-radius: 0px 4px 4px 0px;
    }
}

.header_container2 {
    background: #252f3d;
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.header_forsend_container {
    position: relative;
    cursor: pointer;
    .arrow_box {
        display: none;
        position: absolute;
        padding: 16px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #333;
        color: #fff;
    }

    .arrow_box:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -10px;
        border: solid transparent;
        border-color: rgba(51, 51, 51, 0);
        border-bottom-color: #333;
        border-width: 10px;
        pointer-events: none;
        content: " ";
    }

    &:hover + p.arrow_box {
        display: block;
    }
}
